*{
  margin: 0;
  padding: 0;
}
.TopNavbar img{
  width: auto;
  height: 48px;
  background-color: white;
  padding-right: 5px;
}
.TopNavbar{
    background-color: #1864ab;
    display : grid;
    grid-template-columns: 60px 250px;
    height : 50px;
    align-items: center;
  }

  .sections {
     margin-left: 75px;
     display: grid;
     /* width:500px; */
     grid-template-columns: repeat(4, 1fr);
     grid-column-gap: 25px;
     grid-template-rows: 25px;
  }
  a{
    color: white;
    text-decoration: none;
  }

